.container-fluid {
    display: flex;
    flex-direction: row-reverse;
    background-color: grey;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
}

li {
    margin-left: 30px;
}

.navbar-nav {
    --bs-nav-link-color: rgb(11 43 175 / 65%);
}

.navbar-brand {
    margin: 20px;
    font-size: 40px;
}

.list-group {
    display: flex;
    justify-content: center;
}